{% extends './base.html.twig' %}

{% block title %}
    Admin 
{% endblock %}

{% block content %}
   <section>
        <h1 class="text-lg font-medium text-black mb-9"><span class="font-bold text-red-600"></span>Administration</h1>
        <div class="mt-4 grid grid-cols-2 gap-y-5 sm:grid-cols-3 gap-x-5">
            {% include './parts/adminCard.html.twig' %}
        </div>
    </section>
{% endblock %}

